<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Blog :: New Post</title>
</head>
<body>
<div class="container">
  <a th:href="@{'/'}">Home</a>
  <form action="#"
        th:action="@{'/posts/new'}"
        th:object="${post}"
        method="POST">
      <input type="hidden" th:field="*{account}" />
      <input type="hidden" th:field="*{createdAt}" />
      <h2>Write a New Post</h2>
      <div>
        <label for="new_post_title">Title</label>
        <input id="new_post_title" type="text" th:field="*{title}" placeholder="Title"/>
      </div>
    <div>
      <label for="new_post_body">Body</label>
      <input id="new_post_body" type="text" th:field="*{body}" placeholder="Body"/>
    </div>
    <button type="submit">Publish New Post</button>
  </form>

</div>
</body>
</html>